@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #141414;
  color: white;
  font-family: sans-serif;
}

/* Custom Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
